

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Database operation failed!!!</strong>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
